body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-image{
    width: 200px;
}

.card-container{
    width: 450px;
    justify-content: space-around;
    display: flex;
    margin: 150px auto;
    /* border: 2px dotted blue; */
    padding: 20px;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 7px solid #d8cefe;
    border-top: 7px solid #d8cefe;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}